body {
	background: #A5FEA3;
}
ul {
	list-style-type: none;
}
.button1 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #aa0305;
    border-radius: 8px;
    background: #ff060a;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff060a), to(#aa0305));
    background: -moz-linear-gradient(top, #ff060a, #aa0305);
    background: linear-gradient(to bottom, #ff060a, #aa0305);
    -webkit-box-shadow: #ff070c 0px 0px 12px 0px;
    -moz-box-shadow: #ff070c 0px 0px 12px 0px;
    box-shadow: #ff070c 0px 0px 12px 0px;
    text-shadow: #640203 0px -5px 9px;
    font: normal normal bold 20px times new roman;
    color: #ffffff;
    text-decoration: none;
}
.button2 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #840632;
    border-radius: 8px;
    background: #f80b5e;
    background: -webkit-gradient(linear, left top, left bottom, from(#f80b5e), to(#840632));
    background: -moz-linear-gradient(top, #f80b5e, #840632);
    background: linear-gradient(to bottom, #f80b5e, #840632);
    -webkit-box-shadow: #ff0d71 0px 0px 12px 0px;
    -moz-box-shadow: #ff0d71 0px 0px 12px 0px;
    box-shadow: #ff0d71 0px 0px 12px 0px;
    text-shadow: #4e041e 0px -5px 9px;
    font: normal normal bold 20px times new roman;
    color: #ffffff;
    text-decoration: none;
}
.button3 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #581358;
    border-radius: 8px;
    background: #a623a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#a623a5), to(#581358));
    background: -moz-linear-gradient(top, #a623a5, #581358);
    background: linear-gradient(to bottom, #a623a5, #581358);
    -webkit-box-shadow: #c72ac6 0px 0px 12px 0px;
    -moz-box-shadow: #c72ac6 0px 0px 12px 0px;
    box-shadow: #c72ac6 0px 0px 12px 0px;
    text-shadow: #340b34 0px -5px 9px;
    font: normal normal bold 20px times new roman;
    color: #ffffff;
    text-decoration: none;
}
.button4 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #846fa4;
    border-radius: 8px;
    background: #d8b7ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#d8b7ff), to(#846fa4));
    background: -moz-linear-gradient(top, #d8b7ff, #846fa4);
    background: linear-gradient(to bottom, #d8b7ff, #846fa4);
    -webkit-box-shadow: #e2bfff 0px 0px 12px 0px;
    -moz-box-shadow: #e2bfff 0px 0px 12px 0px;
    box-shadow: #e2bfff 0px 0px 12px 0px;
    text-shadow: #5e5075 0px -5px 9px;
    font: normal normal bold 20px times new roman;
    color: #ffffff;
    text-decoration: none;
}
.button5 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #4f3dd5;
    border-radius: 8px;
    background: #9573ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#9573ff), to(#4f3dd5));
    background: -moz-linear-gradient(top, #9573ff, #4f3dd5);
    background: linear-gradient(to bottom, #9573ff, #4f3dd5);
    -webkit-box-shadow: #b38aff 0px 0px 12px 0px;
    -moz-box-shadow: #b38aff 0px 0px 12px 0px;
    box-shadow: #b38aff 0px 0px 12px 0px;
    text-shadow: #2f247e 0px -5px 9px;
    font: normal normal bold 20px times new roman;
    color: #ffffff;
    text-decoration: none;
}
.button6 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #416b85;
    border-radius: 8px;
    background: #69aed8;
    background: -webkit-gradient(linear, left top, left bottom, from(#69aed8), to(#416b85));
    background: -moz-linear-gradient(top, #69aed8, #416b85);
    background: linear-gradient(to bottom, #69aed8, #416b85);
    -webkit-box-shadow: #61a1c7 0px 0px 12px 0px;
    -moz-box-shadow: #61a1c7 0px 0px 12px 0px;
    box-shadow: #61a1c7 0px 0px 12px 0px;
    text-shadow: #294353 0px -5px 9px;
    font: normal normal bold 20px times new roman;
    color: #ffffff;
    text-decoration: none;
}
.button7 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #0c5c3a;
    border-radius: 8px;
    background: #16ad6d;
    background: -webkit-gradient(linear, left top, left bottom, from(#16ad6d), to(#0c5c3a));
    background: -moz-linear-gradient(top, #16ad6d, #0c5c3a);
    background: linear-gradient(to bottom, #16ad6d, #0c5c3a);
    -webkit-box-shadow: #1ad083 0px 0px 12px 0px;
    -moz-box-shadow: #1ad083 0px 0px 12px 0px;
    box-shadow: #1ad083 0px 0px 12px 0px;
    text-shadow: #073622 0px -5px 9px;
    font: normal normal bold 20px times new roman;
    color: #ffffff;
    text-decoration: none;
}
.button8 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #a99204;
    border-radius: 8px;
    background: #ffef06;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffef06), to(#a99204));
    background: -moz-linear-gradient(top, #ffef06, #a99204);
    background: linear-gradient(to bottom, #ffef06, #a99204);
    -webkit-box-shadow: #fffa06 0px 0px 12px 0px;
    -moz-box-shadow: #fffa06 0px 0px 12px 0px;
    box-shadow: #fffa06 0px 0px 12px 0px;
    text-shadow: #796803 0px -5px 9px;
    font: normal normal bold 20px times new roman;
    color: #ffffff;
    text-decoration: none;
}
.button9 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #b7380f;
    border-radius: 8px;
    background: #ff5b19;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff5b19), to(#b7380f));
    background: -moz-linear-gradient(top, #ff5b19, #b7380f);
    background: linear-gradient(to bottom, #ff5b19, #b7380f);
    -webkit-box-shadow: #ff5417 0px 0px 12px 0px;
    -moz-box-shadow: #ff5417 0px 0px 12px 0px;
    box-shadow: #ff5417 0px 0px 12px 0px;
    text-shadow: #73230a 0px -5px 9px;
    font: normal normal bold 20px times new roman;
    color: #ffffff;
    text-decoration: none;
}