body{
			background: url("images/fondog.jpg") 10%;
			color: #D6B8E8;
}
.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #840632;
    border-radius: 8px;
    background: #f80b5e;
    background: -webkit-gradient(linear, left top, left bottom, from(#f80b5e), to(#840632));
    background: -moz-linear-gradient(top, #f80b5e, #840632);
    background: linear-gradient(to bottom, #f80b5e, #840632);
    -webkit-box-shadow: #ff0d71 0px 0px 12px 0px;
    -moz-box-shadow: #ff0d71 0px 0px 12px 0px;
    box-shadow: #ff0d71 0px 0px 12px 0px;
    text-shadow: #4e041e 0px -5px 9px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 1px solid ##9b073b;
    background: #ff0d71;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff0d71), to(#9e073c));
    background: -moz-linear-gradient(top, #ff0d71, #9e073c);
    background: linear-gradient(to bottom, #ff0d71, #9e073c);
    color: #ffffff;
    text-decoration: none;
}

ul {
	list-style-type: none;
}
header {
	background-color: #9837D3;
	padding: 40px;
	text-align: center;
}