body {
	background: #FFE6FC;
}
ul {
	list-style-type: none;
}
.button1 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #b37489;
    border-radius: 8px;
    background: #ffbee1;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffbee1), to(#b37489));
    background: -moz-linear-gradient(top, #ffbee1, #b37489);
    background: linear-gradient(to bottom, #ffbee1, #b37489);
    -webkit-box-shadow: #ffc6eb 0px 0px 12px 0px;
    -moz-box-shadow: #ffc6eb 0px 0px 12px 0px;
    box-shadow: #ffc6eb 0px 0px 12px 0px;
    text-shadow: #805362 0px -5px 9px;
    font: normal normal bold 20px times new roman;
    color: #ffffff;
    text-decoration: none;
}
.button2 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #ca27a6;
    border-radius: 8px;
    background: #ff40ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff40ff), to(#ca27a6));
    background: -moz-linear-gradient(top, #ff40ff, #ca27a6);
    background: linear-gradient(to bottom, #ff40ff, #ca27a6);
    -webkit-box-shadow: #ff3bfa 0px 0px 12px 0px;
    -moz-box-shadow: #ff3bfa 0px 0px 12px 0px;
    box-shadow: #ff3bfa 0px 0px 12px 0px;
    text-shadow: #7f1968 0px -5px 9px;
    font: normal normal bold 20px times new roman;
    color: #ffffff;
    text-decoration: none;
}
.button3 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #8444be;
    border-radius: 8px;
    background: #d76fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#d76fff), to(#8444be));
    background: -moz-linear-gradient(top, #d76fff, #8444be);
    background: linear-gradient(to bottom, #d76fff, #8444be);
    -webkit-box-shadow: #c666ff 0px 0px 12px 0px;
    -moz-box-shadow: #c666ff 0px 0px 12px 0px;
    box-shadow: #c666ff 0px 0px 12px 0px;
    text-shadow: #532b77 0px -5px 9px;
    font: normal normal bold 20px times new roman;
    color: #ffffff;
    text-decoration: none;
}
.button4 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #570784;
    border-radius: 8px;
    background: #a30df8;
    background: -webkit-gradient(linear, left top, left bottom, from(#a30df8), to(#570784));
    background: -moz-linear-gradient(top, #a30df8, #570784);
    background: linear-gradient(to bottom, #a30df8, #570784);
    -webkit-box-shadow: #c410ff 0px 0px 12px 0px;
    -moz-box-shadow: #c410ff 0px 0px 12px 0px;
    box-shadow: #c410ff 0px 0px 12px 0px;
    text-shadow: #33044e 0px -5px 9px;
    font: normal normal bold 20px times new roman;
    color: #ffffff;
    text-decoration: none;
}
