body {
    background: #FC7B77;
}
ul {
    list-style-type: none;
}
.button1 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #aa0305;
    border-radius: 8px;
    background: #ff060a;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff060a), to(#aa0305));
    background: -moz-linear-gradient(top, #ff060a, #aa0305);
    background: linear-gradient(to bottom, #ff060a, #aa0305);
    -webkit-box-shadow: #ff070c 0px 0px 12px 0px;
    -moz-box-shadow: #ff070c 0px 0px 12px 0px;
    box-shadow: #ff070c 0px 0px 12px 0px;
    text-shadow: #640203 0px -5px 9px;
    font: normal normal bold 20px times new roman;
    color: #ffffff;
    text-decoration: none;
}
.button2 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #aa0305;
    border-radius: 8px;
    background: #cf4b4b;
    background: -webkit-gradient(linear, left top, left bottom, from(#cf4b4b), to(#ba3c3e));
    background: -moz-linear-gradient(top, #cf4b4b, #ba3c3e);
    background: linear-gradient(to bottom, #cf4b4b, #ba3c3e);
    -webkit-box-shadow: #ff070c 0px 0px 12px 0px;
    -moz-box-shadow: #ff070c 0px 0px 12px 0px;
    box-shadow: #ff070c 0px 0px 12px 0px;
    text-shadow: #640203 0px -5px 9px;
    font: normal normal bold 20px times new roman;
    color: #ffffff;
    text-decoration: none;
}