body {
	background: #ACFEA3;
}
ul {
	list-style-type: none;
}
.button1 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #46ae63;
    border-radius: 8px;
    background: #73ffa2;
    background: -webkit-gradient(linear, left top, left bottom, from(#73ffa2), to(#46ae63));
    background: -moz-linear-gradient(top, #73ffa2, #46ae63);
    background: linear-gradient(to bottom, #73ffa2, #46ae63);
    -webkit-box-shadow: #78ffa9 0px 0px 40px 0px;
    -moz-box-shadow: #78ffa9 0px 0px 40px 0px;
    box-shadow: #78ffa9 0px 0px 40px 0px;
    text-shadow: #327d47 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}
.button2 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #16ae24;
    border-radius: 8px;
    background: #25ff3b;
    background: -webkit-gradient(linear, left top, left bottom, from(#25ff3b), to(#16ae24));
    background: -moz-linear-gradient(top, #25ff3b, #16ae24);
    background: linear-gradient(to bottom, #25ff3b, #16ae24);
    -webkit-box-shadow: #26ff3d 0px 0px 40px 0px;
    -moz-box-shadow: #26ff3d 0px 0px 40px 0px;
    box-shadow: #26ff3d 0px 0px 40px 0px;
    text-shadow: #107d1a 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}
.button3 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #1a3c1d;
    border-radius: 8px;
    background: #307236;
    background: -webkit-gradient(linear, left top, left bottom, from(#307236), to(#1a3c1d));
    background: -moz-linear-gradient(top, #307236, #1a3c1d);
    background: linear-gradient(to bottom, #307236, #1a3c1d);
    -webkit-box-shadow: #3a8941 0px 0px 40px 0px;
    -moz-box-shadow: #3a8941 0px 0px 40px 0px;
    box-shadow: #3a8941 0px 0px 40px 0px;
    text-shadow: #0f2411 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}