.caja1 {
  padding: 20px;
  width: 250px;
  position: relative;
  border: 1px solid black; 
  outline: 5px solid purple; 
  margin: 20px;
  color: #0DFFC3;
}

.caja2 {
  padding: 20px;
  width: 250px;
  position: relative;
  border: 1px solid black; 
  outline: 5px solid blue; 
  margin: 20px;
  color: #0DFFC3;
}

.caja3 {
  padding: 20px;
  width: 250px;
  position: relative;
  border: 1px solid black; 
  outline: 5px dotted green; 
  margin: 20px;
  color: #0DFFC3;
}